// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.rounded {
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.dark-grey {
  background-image: none;
  background-color: #5E585A;
  color: #FFFFFF;
}

.title_link a {
  color: #333;
}

.post_body {
  word-wrap: break-word;
}

.line {
  border-bottom: 1px solid grey;
  margin: 15px 0 25px 0;
}
